body {
    /* background-image: url(../img/DIK8mjEW0AICuzd.jpeg); */
    background-image: radial-gradient(circle at 16% 83%, rgba(148, 148, 148,0.06) 0%, rgba(148, 148, 148,0.06) 50%,rgba(63, 63, 63,0.06) 50%, rgba(63, 63, 63,0.06) 100%),radial-gradient(circle at 68% 87%, rgba(66, 66, 66,0.06) 0%, rgba(66, 66, 66,0.06) 50%,rgba(105, 105, 105,0.06) 50%, rgba(105, 105, 105,0.06) 100%),radial-gradient(circle at 38% 50%, rgba(123, 123, 123,0.06) 0%, rgba(123, 123, 123,0.06) 50%,rgba(172, 172, 172,0.06) 50%, rgba(172, 172, 172,0.06) 100%),linear-gradient(90deg, hsl(18,0%,1%),hsl(18,0%,1%));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    
}

.logoPrincipal {
    width: 90px;
}

.navRafa {
    box-shadow: rgba(116, 115, 115, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 20px;
    margin-top: 5px;
    position: sticky;
    background-color: #f3efe0b9;
}

.ico {
    color: black;
}


.parrafoPrincipal {
    font-size: 2rem;
}

em {
    font-weight: bold;
    color: #22A39F ;
}
em:hover {
    color: #f3efe0b9 ;
}

.hrSombra{
    border: 2px solid rgb(134, 133, 133);
    box-shadow: rgba(231, 230, 230, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.banner {
    box-shadow: rgba(116, 115, 115, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.bannerIm{
    border-radius: 30px;
}

.tituloBanner{ 
    color: #22A39F;
    font-size: 3.5rem;
}

.subtituloBanner {
    color: #F3EFE0 ;
    font-size: 1.4rem;
}

.audio {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.cardPresentaciones {
    border: none;
    cursor: pointer;
}
.imagenCard {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.video {
   border-radius: 40px; 
}